
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid navcon">
      <a class="navbar-brand" href="/hotels"> <i class="far fa-registered"></i> Staycation Review</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link btn "  href="/">Home</a>
          <a class="nav-link btn" href="/hotels">Reviews</a>
        </div>
        <div class="navbar-nav ms-auto">
          <% if(!currentUser){ %>
            <a href="/login" class="nav-link btn" >Login</a>
          <a href="/register" class="nav-link btn create" style="color:black;">Register</a>
          <% }else { %>
            <a href="/logout" class="nav-link btn create" style="color:black;">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>