/* .login-form{
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginwrapper{
    border: coral;
} */

.sign-in-section {
    font-family: "PT Sans", sans-serif;
    color: blackF9F9F9;
    background-color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
  }
  
  .sign-in-container {
    background-color: #F9F9F9;
    padding: 2rem;
    border-radius: 10px;
  }
 
  
  .sign-in-button {
    display: block;
    width: 100%;
    margin: 5% 0;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: all 0.3s ease-out;
    padding: 12px 26px;
    font-size: 20px;
    border-radius: 2rem;
    text-decoration: none;
  }

  
  .sign-in-button:hover {
    background: green;
    color: #FFF;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  

